<div class="beach-top">
  <div class="header" >
    <h1 class="site-title">Beach</h1>

    <div class="nav">
      <ul>
      <% if user_signed_in?%> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, class: "logout"%></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_session_path, class: "sign-in" %></li>
        <li><%= link_to 'ログイン', new_user_registration_path, class: "login" %></li>
      <% end %>
        <li>検索</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="main">
  <div class="storyContents">
    <div class="blank Block" id="bnk1">
      <p class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
      </p>
    </div>
    <div class="img-1 Block">
      <%= image_tag 'PXL_20211018_084032263-PANO.jpg', size: '1000x500', class: "adjSize" %> 
    </div>
    <div class="blank Block" id="bnk2">
      <p class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
      </p>
    </div>
    <div class="img-2 Block" >
      <%= image_tag 'GX014348-1.jpg', size: '768x500', class: "adjSize" %>
    </div>
    <div class="blank Block" id="bnk3">
      <p class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
        <br class="sp-show">
        テキストテキストテキストテキストテキストテキスト
      </p>
    </div>
    <div class="img-3 Block">
      <%= image_tag 'PXL_20220103_092049623.jpg', size: '1000X200', class: "adjSize" %>
    </div>
    <div class="okinawaMap">
    </div>
    <div class="fotter">
    </div>
  </div>
</div>