<div class="wrapper">
  <%= render "header", user: @user %>
  <div class="search_top">
    <%= form_with(url: beach_search_path, local: true, method: :get, class: "search_form") do |form| %>% 
      <%= form.text_field :keyword, placeholder: "キーワード、ビーチ名で検索する", class: "search_input" %>
      <%= form.submit "検索", class: "search_btn" %>
      <div id="search_result"></div>
    <% end %>
  </div>
  <div class="main">
    <%= search_form_for @q, url: beach_search_path, html: {id: "detailed_search_form", class: "search_form" } do |f| %>
    <div class="side_bar">
      <div class="side_bar_head">
        <p>アクティビティ</p>
        <div class="activitys">
          <%= f.collection_check_boxes(:beach_activitys_activity_id_in, Activity.all, :id, :name, {include_hidden: false}, {class: "checkbox", id:"activity_check"}) do |b| %>
            <div class="activity">
              <%= b.check_box + b.label { b.text }%>
            </div>
          <% end %>
        </div>
      </div>  
      <div class="side_bar_middle">
        <p>設備</p>
        <div class="facilitys">
          <%= f.collection_check_boxes(:beach_facilitys_facility_id_in, Facility.all, :id, :name, {include_hidden: false}, {class: "checkbox", id:"facility_check"}) do |b| %>
              <div class="facility">
                <%= b.check_box + b.label { b.text }%>
              </div>
            <% end %>
        </div>
      </div>  
      <%= f.submit '検索' %>
    </div>
    <% end %>
    <div class="right_main">
      <% @beach.each do |beach| %>
        <%= link_to beach_path(beach.id) do %>
        <div id="beach_box">
          <%= image_tag beach.image, alt:"beach_sample.jpg" ,class:"beach_box_img" %><br>
          <h2 class="beach_name">
            <%= beach.name %>
          </h2>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>